{% extends 'base.html' %}
{% block myblock %}
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    {% for education in educations %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{ education.college_name }}</h3>
                            <div>{{ education.address }}</div>
                            <div class="subheading mb-3">{{ education.subject }}</div>   
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{{ education.start_date }}-</span></div>
                        <div class="flex-shrink-0"><span class="text-primary">{{ education.end_date }}</span></div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <hr class="m-0" />
{% endblock %}