{% extends 'base.html' %}
{% block myblock %}
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fa-brands fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fa-brands fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fa-brands fa-js"></i></li>
                        <li class="list-inline-item"><i class="fa-brands fa-python"></i></li>
                        <li class="list-inline-item"><i class="fa-solid fa-database"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    {% for skill in skills %}
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            {{ skill.name }}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </section>
            <hr class="m-0" />
{% endblock %}